#
# Makefile for qmi8610 sensor driver.
#
config ALT_INPUT_QMI8610
	tristate "QMI8610 gyro sensor device with I2C bus"
	depends on I2C
	default n
	help
	  Say Y here if you have a QMI8610 device on the board and use I2C
	  communication, else say N.

	  To compile this driver as a module, choose M here.